**.orig
*.rbc
*.sassc
*.sublime-project
*.sublime-workspace
.DS_Store
.env
.powrc
.project
.rvmrc
.sass-cache
/.bundle
/.bundle
/config/application.yml
/coverage/
/db/*.sqlite3
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/log/*.log
/public/system/*
/public/assets/source_maps/*
/spec/tmp/*
/tmp
/tmp/*
/vendor/bundle
capybara-*.html
dump.rdb
pickle-email-*.html
rerun.txt
.powenv
Procfile.development
latest.dump
erd.pdf
FALSE
manifest.json
/spec/support/captured_images/
